<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>忆本.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08364DB01D6B4D0C00E0DB48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08364DC91D6B4D0C00E0DB48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08364DD41D6B4D0C00E0DB48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
